.home-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    background-color: antiquewhite;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.img-style {
    width: 200px;
    height: 250px;
    padding: 10px;
}

.exitbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}