.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.searchbar {
    display: flex;
}
.input-field{
    width: 40vw;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1em;
    padding-left: 5px;
    /* border: 1px solid black; */
    background-color: antiquewhite;
    border: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.search-icon {
    height: 32px;
    width: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: antiquewhite;
    border: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown {
    /* border: 1px solid black; */
    height: 200px;
    width: 43vw;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: antiquewhite;

}

.dropdown::-webkit-scrollbar {
    display: none;
}

.book-title {
   
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    padding-left: 5px;
    color:black;
}

.book-title:hover {
    background-color:darkcyan;
    color: antiquewhite;
}